# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# Generated
lib/firebase_options.dart
lib/l10n/app_localizations*.dart
**/generated_plugin_registrant.*

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
android/gradle/
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
**/*.keystore
**/*.jks
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/flutter_assets
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner/GoogleService-Info.plist

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc

# Env & secrets
.env
.env.local
*.env
**/api_keys.dart
**/secrets.dart

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
